:root {
  --point-color: #32c259;

  --padding-basic: 24px;
  --border-radius-basic: 8px;

  --font-size-basic: 24px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
}

ul {
  list-style-type: none;
}

.navbar {
  padding: var(--padding-basic);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navbar__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--point-color);
  font-size: var(--font-size-basic);
}

.logo {
  width: 30px;
  height: 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu li {
  padding: calc(var(--padding-basic) / 2) var(--padding-basic);
  cursor: pointer;
  border: 1px solid white;
  border-radius: var(--border-radius-basic);
}

.navbar__menu li:hover {
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

.navbar__menu li.active {
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

.home {
  padding: var(--padding-basic);
  text-align: center;
}

.home h1 {
  padding: var(--padding-basic);
}

#home__myPic {
  width: 350px;
  height: 500px;
  border-radius: 50%;
}
