:root {
  --point-color: #32c259;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.navbar {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navbar__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--point-color);
  font-size: 24px;
}

.favicon {
  padding: 8px;
  width: 30px;
  height: 30px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu li {
  padding-left: 32px;
}

.home {
  padding: 16px;
  text-align: center;
}

.home h1 {
  padding: 16px;
}

#home__myPic {
  width: 350px;
  height: 500px;
  border-radius: 50%;
}
