:root {
  --point-color: #32c259;
  --background-color-basic: #dce2f0;
  --color-basic: #50586c;

  --padding-basic: 24px;
  --section-padding-top: 160px;
  --border-radius-basic: 8px;

  --font-size-basic: 24px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  overflow-y: hidden;
}

p.content {
  max-width: 1000px;
  padding: calc(var(--padding-basic) / 2) 0;
}

section:not(.contact) {
  height: 100vh;
  padding-top: var(--section-padding-top);
}

section:nth-child(odd) {
  background-color: var(--background-color-basic);
  color: var(--color-basic);
}

section:nth-child(even) {
  background-color: var(--color-basic);
  color: var(--background-color-basic);
}

ul {
  list-style-type: none;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: var(--padding-basic);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-basic);
}

.navbar__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--point-color);
  font-size: var(--font-size-basic);
}

#logo {
  height: 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu li {
  padding: calc(var(--padding-basic) / 2) var(--padding-basic);
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: var(--border-radius-basic);
}

.navbar__menu li:hover {
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

.navbar__menu li.active {
  border: 1px solid var(--point-color);
  color: var(--point-color);
}

.home {
  padding: var(--padding-basic);
  text-align: center;
}

.home h1 {
  padding: var(--padding-basic);
}

#home__myPic {
  width: 350px;
  border-radius: 50%;
}

.home p {
  padding: calc(var(--padding-basic) / 2) 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack {
  display: flex;
  justify-content: space-around;
}

.stack div {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stack div .i-container {
  width: 260px;
  height: 260px;
  padding: calc(var(--padding-basic) * 2);
  border: 1px solid lightgray;
  border-radius: 50%;
}

.stack div .i-container i {
  transition: all 300ms ease;
}

.stack div .i-container:hover i {
  transform: rotate(-30deg) scale(1.1);
  color: var(--point-color);
}

.stack div h3 {
  padding: var(--padding-basic) 0px;
}

.stack div p + p {
  padding-bottom: var(--padding-basic);
}

.careers {
  margin-right: auto;
  padding-left: calc(var(--padding-basic) * 2);
  display: flex;
  flex-direction: column;
}

.careers h3 {
  padding-bottom: var(--padding-basic);
}

.career {
  display: flex;
  align-items: center;
}

.career__contents {
  display: flex;
  flex-direction: column;
}

.career__contents * {
  padding-left: var(--padding-basic);
}

.career__logo img {
  height: 50px;
}

.skills {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h2 {
  padding: var(--padding-basic) 0;
}

.skills p {
  width: 60%;
  padding-bottom: var(--padding-basic);
}

.skillset {
  display: flex;
  width: 100%;
  padding: var(--padding-basic) calc(var(--padding-basic) * 16);
  justify-content: space-between;
  background-color: var(--color-basic);
  color: var(--background-color-basic);
}

.skillset__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  width: 100%;
}

.skill__contents {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  margin: calc(var(--padding-basic) / 2) 0;
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skill__value {
  height: 3px;
  background-color: lightsalmon;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-basic);
  color: var(--color-basic);
}

.contact * {
  padding: var(--padding-basic) 0 calc(var(--padding-basic) / 2);
}

.contact__links a {
  color: var(--color-basic);
}

.contact__links a i {
  transition: all 200ms linear;
}

.contact__links a i:hover {
  transform: scale(1.1);
  color: var(--point-color);
}

.arrow-up {
  opacity: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  background-color: var(--point-color);
  transition: all 250ms ease-in-out;
}

.arrow-up i {
  color: white;
}

.arrow-up.active {
  opacity: 1;
  cursor: pointer;
}
